<ion-content color="dark" class="ion-padding">
    <ion-grid>
        <!--City-->
        <ion-row class="ion-text-center">
            <ion-col class="ion-text-center">
                <h1>{{resultado.name}}</h1>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col>
                <p>{{weatherDesc.description | titlecase}}</p>
            </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col>
                <img [src]="weatherDesc.icon | weatherIcons">
            </ion-col>
            <ion-col>
                <h2 class="temperature">{{temperatura.temp | number: '1.0-0'}}º</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <img src="../../assets/viento.png">
                <h3 class="viento">25km/h</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item color="dark" *ngFor="let item of [1,1,1,1,1]">
            <ion-label>Lunes</ion-label>
            <ion-label>20º</ion-label>
            <img class="next-icons" [src]="weatherDesc.icon | weatherIcons" slot="end">
        </ion-item>
    </ion-list>
</ion-content>